@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  color: #000000;
  line-height: 30px;
  font-weight: 300;
  
  background: #ffffff;
}

a {
  text-decoration: none;
}

.site-header {
  background: #f7e296;
}

.gilroy-uppercase {
  font-family: "Gilroy", Arial sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000000;
}

.gilroy {
  font-family: "Gilroy", Arial sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.filters .gilroy {
  font-size: 18px;
  line-height: 24px;
}

.catalog-list .gilroy {
  font-size: 18px;
  line-height: 24px;
}

.site-navigation input {
  border: none;
  opacity: 0.3;
  background-color: #f7e296;
}

.site-navigation input:hover {
  opacity: 0.6;
}

.site-navigation input:focus {
  opacity: 1;
}

.login-link-header a:hover,
.goods-actions-header a:hover,
.catalog-open-link:hover,
.catalog-open-list a:hover,
.seller-info a:hover,
.logo-html:hover,
.profile-link-header:hover,
.logout-link-header:hover,
.header-logo:hover,
.footer-logo:hover {
  opacity: 0.6;
}

.login-link-header a:active,
.goods-actions-header a:active,
.catalog-open-link:active,
.catalog-open-list a:active,
.seller-info a:active,
.logo-html:active,
.profile-link-header:active,
.logout-link-header:active,
.header-logo:active,
.footer-logo:active {
  opacity: 0.3;
}

.login-link-footer a,
.goods-actions-footer a,
.profile-link-footer,
.logout-link-footer {
  opacity: 0.7;
}

.login-link-footer a:hover,
.goods-actions-footer a:hover,
.profile-link-footer:hover,
.logout-link-footer:hover {
  opacity: 1;
}

.login-link-footer a:active,
.goods-actions-footer a:active,
.profile-link-footer:active,
.logout-link-footer:active {
  opacity: 0.3;
}

.social-buttons a,
.breadcrumbs a {
  opacity: 0.3;
}

.social-buttons a:hover,
.breadcrumbs a:hover {
  opacity: 0.6;
}

.social-buttons a:active,
.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  font-weight: 300;
}

.list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-list {
  font-size: 16px;
  line-height: 40px;
}

.site-footer {
  background: #464646;
  color: #ffffff;
}

.site-header a,
.main-content a {
  color: #000000;
}

.site-footer a {
  color: #ffffff;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 24px;
}

.gilroy input[type="text"] {
  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}