@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  color: #000000;
  line-height: 30px;
  font-weight: 300;
  
  background: #ffffff;
}

a {
  text-decoration: none;
}

.site-header {
  background: #f7e296;
}

.gilroy-uppercase {
  font-family: "Gilroy", Arial sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000000;
}

.gilroy {
  font-family: "Gilroy", Arial sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.filters .gilroy {
  font-size: 18px;
  line-height: 24px;
}

.catalog-list .gilroy {
  font-size: 18px;
  line-height: 24px;
}

.site-navigation input {
  border: none;
  opacity: 0.3;
  background-color: #f7e296;
}

.site-navigation input:hover {
  opacity: 0.6;
}

.site-navigation input:focus {
  opacity: 1;
}

.login-link-header a:hover,
.goods-actions-header a:hover,
.catalog-open-link:hover,
.catalog-open-list a:hover,
.seller-info a:hover,
.logo-html:hover,
.profile-link-header:hover,
.logout-link-header:hover,
.header-logo:hover,
.footer-logo:hover {
  opacity: 0.6;
}

.login-link-header a:active,
.goods-actions-header a:active,
.catalog-open-link:active,
.catalog-open-list a:active,
.seller-info a:active,
.logo-html:active,
.profile-link-header:active,
.logout-link-header:active,
.header-logo:active,
.footer-logo:active {
  opacity: 0.3;
}

.login-link-footer a,
.goods-actions-footer a,
.profile-link-footer,
.logout-link-footer {
  opacity: 0.7;
}

.login-link-footer a:hover,
.goods-actions-footer a:hover,
.profile-link-footer:hover,
.logout-link-footer:hover {
  opacity: 1;
}

.login-link-footer a:active,
.goods-actions-footer a:active,
.profile-link-footer:active,
.logout-link-footer:active {
  opacity: 0.3;
}

.social-buttons a,
.breadcrumbs a {
  opacity: 0.3;
}

.social-buttons a:hover,
.breadcrumbs a:hover {
  opacity: 0.6;
}

.social-buttons a:active,
.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  font-weight: 300;
}

.list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-list {
  font-size: 16px;
  line-height: 40px;
}

.site-footer {
  background: #464646;
  color: #ffffff;
}

.site-header a,
.main-content a {
  color: #000000;
}

.site-footer a {
  color: #ffffff;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 24px;
}

.gilroy input[type="text"] {
  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.site-header {
  width: 1200px;
  min-height: 228px;
  padding-top: 20px;
  border-left: white solid 20px;
  border-right: white solid 20px;
}

.header-logo {
  width: 162px;
  margin-left: 60px;
  margin-bottom: 35px;
}

.site-navigation-box {
  width:  1040px;
  margin-left: 60px;
}

.header-navigation-row-1 {
  display: flex;
  margin-bottom: 40px;
}

.search-box {
  width: 440px;
  margin-right: 100px;
}

.user-navigation-header {
  width: 260px;
  margin-right: 20px;
}

.goods-actions {
  display: flex;
}

.diff-goods-header {
  width: 100px;
  margin-right: 35px;
}

.total-price-header {
  width: 185px;
  margin-right: 60px;
}

.header-navigation-row-2 {
  display: flex;
  align-items: baseline;
}

.catalog-box {
  width: 520px;
  margin-right: 20px;
}

.seller-info-header {
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}

.seller-info-header-deliviery {
  width: 122px;
  margin-right: 36px;
}

.seller-info-header-warrant {
  width: 111px;
  margin-right: 112px;
}

.seller-info-header-contact {
  width: 119px;
  margin-left: auto;
}

.main-content {
  display: flex;
  width: 1200px;
  min-height: 605px;
  padding-left: 18px;
  padding-right: 20px;
}

.about-us {
  width: 582px;
}

.contacts {
  width: 562px;
  margin-left: auto;
  margin-right: auto;
}

.site-footer {
  width: 1200px;
  min-height: 323px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 65px;
}

.footer-row-1 {
  display: flex;
}

.footer-logo {
  width: 163px;
}

.user-navigation-footer {
  width: 260px;
}

.diff-goods-footer {
  width: 100px;
}

.total-price-footer {
  width: 185px;
}






/*.footer-box-1 {
  margin-top: 65px;
}

.footer-box-2 {
  width: 440px;
  margin-top: 139px;
}

.footer-box-3 {
  margin-top: 65px;
}

.seller-info-footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 65px;
}

.social-buttons {
  display: flex;
  width: 141px;
  justify-content: space-between;
  margin: auto;
}
*/